VITE_AUTH_URL=https://auth.zuup.dev
VITE_SUPABASE_URL=https://auth.zuup.dev

# The Supabase Anon Key is used as the Gateway Secret for the auth proxy
VITE_SUPABASE_ANON_KEY="cXf0brLRgusxT#JoR!W6N&-&J=DYfvK7(qjWKvnqSIQm+aCOMZ+ZR)Sa)Wza*!J#ctKmRyFk7W-4wA(8a^Kr@c(6zuIsgSg8@rXF"
